h1,h2{
    color: rgb(128, 68, 0);
    text-align: center;
    background-color: gray;
}
body{
    background-color: ;
}
h1:hover{
    color: rgb(107, 47, 60);
    
}
h2:hover{
    color: rgb(240, 250, 255);
}