.main{
    background-color:black ;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;

}
.operator{
    background-color: rgb(129, 172, 115);
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
   width:30px ;
   height: 30px;
   text-align: center;

}
.number{
     background-color: yellow;
    border: 1px solid rgb(128, 165, 52);
    border-radius: 50px;
    padding: 10px;
   width:30px ;
   height: 30px;
   text-align: center;

}
.number,.operator{
    display: inline-block;
}
.output{background-color: rgb(138, 133, 133);
    border: 1px solid rgb(128, 165, 52);
    border-radius: 20px;
    padding: 10px;
   width:200px ;
   height: 90px;
   text-align: right;
   display: inline-block;

}
.number:hover,.operator:hover{
    background-color:purple
}
