
h1{
    
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    align-items: right;
   margin: 0px;
   background-color: cornflowerblue;

}

body{
    margin: 0px;
    padding-left: 15px;
}
.navbar{
    margin: auto;
    width: 200px;
    height: 100vh;
    color: white;
    background-color: black;
    position: fixed;
    top: 0px;
 right:0px;
    

}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;

}
